<footer class="footer">
	<div class="container footer__container">
		<div class="footer__item">
			<div class="footer__logo">
				<a href="#">Новости it</a>
			</div>
		</div>
		<div class="footer__item">
			<div class="footer__social">
				<h3 class="footer__title">Мы в социальных сетях</h3>
				<ul class="list-reset footer-social__list">
					<li class="footer-social__item">
						<a href="#" class="footer__link" target="_blank">
							<svg class="icons vk__icons">
								<use xlink:href="assets/templates/img/sprite.svg#vk"></use>
							</svg>
						</a>
					</li>
					<li class="footer-social__item">
						<a href="#" class="footer__link" target="_blank">
							<svg class="icons ok__icons">
								<use xlink:href="assets/templates/img/sprite.svg#ok"></use>
							</svg>
						</a>
					</li>
					<li class="footer-social__item">
						<a href="#" class="footer__link" target="_blank">
							<svg class="icons telegram__icons">
								<use
									xlink:href="assets/templates/img/sprite.svg#telegram"
								></use>
							</svg>
						</a>
					</li>
					<li class="footer-social__item">
						<a href="#" class="footer__link" target="_blank">
							<svg class="icons youtube__icons">
								<use xlink:href="assets/templates/img/sprite.svg#youtube"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__item">
			<div class="footer__news">
				<h3 class="footer__title footer-news__title">Последние новости</h3>
				<ul class="list-reset footer-news__list">
					<li class="footer-news__item">
						<a href="#" class="footer-news__link">Главная</a>
					</li>
					<li class="footer-news__item">
						<a href="#" class="footer-news__link">Новости</a>
					</li>
					<li class="footer-news__item">
						<a href="#" class="footer-news__link">Новости it</a>
					</li>
					<li class="footer-news__item">
						<a href="#" class="footer-news__link">Технологии</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
