<header class="header">
	<div class="header__top">
		<div class="container header__top-container">
			<div class="header__logo">
				<a href="/">Новости it</a>
			</div>
			<div class="section__social">
				<ul class="list-reset section__social-list">
					<li class="section__social-item">
						<a href="#" class="section-social__link" target="_blank">
							<svg class="icons vk__icons">
								<use xlink:href="assets/templates/img/sprite.svg#vk"></use>
							</svg>
						</a>
					</li>
					<li class="section__social-item">
						<a href="#" class="section-social__link" target="_blank">
							<svg class="icons ok__icons">
								<use xlink:href="assets/templates/img/sprite.svg#ok"></use>
							</svg>
						</a>
					</li>
					<li class="section__social-item">
						<a href="#" class="section-social__link" target="_blank">
							<svg class="icons telegram__icons">
								<use
									xlink:href="assets/templates/img/sprite.svg#telegram"
								></use>
							</svg>
						</a>
					</li>
					<li class="section__social-item">
						<a href="#" class="section-social__link" target="_blank">
							<svg class="icons youtube__icons">
								<use xlink:href="assets/templates/img/sprite.svg#youtube"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container header__bottom-inner">
			<nav class="nav">
				<ul class="list-reset nav__list">
					<li class="nav__item">
						<a href="/" class="nav__link nav--link">Главная</a>
					</li>
					<li class="nav__item">
						<a href="newsit.html" class="nav__link">Новости it</a>
					</li>
					<li class="nav__item">
						<a href="russiandevelopment.html" class="nav__link"
							>Новости российской разработки</a
						>
					</li>
					<li class="nav__item">
						<a href="programs.html" class="nav__link">Программы</a>
					</li>
					<li class="nav__item">
						<a href="videos.html" class="nav__link">Видео</a>
					</li>
				</ul>
			</nav>
			<button class="burger" type="button">
				<span class="burger__line"></span>
			</button>
			<div class="search-wrap">
				<div class="search">
					<button>
						<svg class="icons search__icons">
							<use xlink:href="assets/templates/img/sprite.svg#search"></use>
						</svg>
					</button>
				</div>
				<div class="search-field">
					<form action="" autocomplete="off">
						<input type="text" name="search" placeholder="Поиск по сайту..." />
					</form>
				</div>
			</div>
		</div>
	</div>
</header>
