<section class="section-news">
	<div class="container">
		<div class="section-header">
			<h3 class="section-header__title">Последние новости</h3>
		</div>
		<div class="section-news__inner">
			<div class="section-news__item">
				<div class="section-news__text">
					<div class="section-news__img">
						<a href="#"><img src="@img/news/1.jpg" alt="" /></a>
					</div>
					<div class="data">
						<p class="data__descr">15.01.2024</p>
					</div>
					<div class="section-news__info">
						<h3 class="section-news__title">
							<a href="#" class="section-news__link">Далеко-далеко</a>
						</h3>
						<div class="section-news__descr">
							<p>
								Далеко-далеко за словесными горами в стране гласных и согласных
								живут, рыбные тексты. Страна оксмокс последний, не большого сих,
								возвращайся составитель эта раз всемогущая страну, жизни
								залетают рукопись. Текстов проектах на берегу большого по всей?
							</p>
							<div class="section-news__btn">
								<a href="#" class="btn btn-blue btn-width">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section-news__item">
				<div class="section-news__text">
					<div class="section-news__img">
						<a href="#"><img src="@img/news/2.jpg" alt="" /></a>
					</div>
					<div class="data">
						<p class="data__descr">15.01.2024</p>
					</div>
					<div class="section-news__info">
						<h3 class="section-news__title">
							<a href="#" class="section-news__link">Далеко-далеко</a>
						</h3>
						<div class="section-news__descr">
							<p>
								Далеко-далеко за словесными горами в стране гласных и согласных
								живут, рыбные тексты. Страна оксмокс последний, не большого сих,
								возвращайся составитель эта раз всемогущая страну, жизни
								залетают рукопись. Текстов проектах на берегу большого по всей?
							</p>
							<div class="section-news__btn">
								<a href="#" class="btn btn-blue btn-width">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section-news__item">
				<div class="section-news__text">
					<div class="section-news__img">
						<a href="#"><img src="@img/news/3.jpg" alt="" /></a>
					</div>
					<div class="data">
						<p class="data__descr">15.01.2024</p>
					</div>
					<div class="section-news__info">
						<h3 class="section-news__title">
							<a href="#" class="section-news__link">Далеко-далеко</a>
						</h3>
						<div class="section-news__descr">
							<p>
								Далеко-далеко за словесными горами в стране гласных и согласных
								живут, рыбные тексты. Страна оксмокс последний, не большого сих,
								возвращайся составитель эта раз всемогущая страну, жизни
								залетают рукопись. Текстов проектах на берегу большого по всей?
							</p>
							<div class="section-news__btn">
								<a href="#" class="btn btn-blue btn-width">Подробнее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="banner-top">
				<img src="@img/banner/banner-top.jpg" alt="" />
			</div>
		</div>
	</div>
</section>
