<div class="container">
	<div class="content__inner">
		<div class="content">
			<div class="section-header">
				<h1 class="section-header__title">Видео</h1>
			</div>
			<div class="content__item">
				<div class="content__text">
					<div class="content__link">
						<a href="#"
							>Далеко-далеко за словесными, горами в стране гласных и согласных
						</a>
					</div>
					<div class="data">
						<p class="data__descr">15.01.2024</p>
					</div>
					<div class="content__img">
						<a href="#"><img src="@img/img.jpg" alt="" /></a>
					</div>
					<div class="content__descr">
						<p>
							Далеко-далеко за словесными горами в стране гласных, и согласных
							живут рыбные тексты. Семь, заглавных! Текста там правилами
							предупредила подзаголовок над даль знаках страна единственное
							города до маленький предложения своего она власти, что от всех о
							одна повстречался моей снова они рукописи? Взобравшись он рыбного
							своих путь, пустился раз города запятых образ но вопроса журчит
							толку знаках себя взгляд предложения встретил от всех предупредила
							проектах продолжил эта свой. Текстов парадигматическая заманивший
							запятой обеспечивает рыбного жизни своих рукописи она журчит
							собрал рекламных взгляд, алфавит осталось которой!
						</p>
						<a href="#" class="btn btn-blue btn-width">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="content__item">
				<div class="content__text">
					<div class="content__link">
						<a href="#"
							>Далеко-далеко за словесными, горами в стране гласных и согласных
						</a>
					</div>
					<div class="data">
						<p class="data__descr">15.01.2024</p>
					</div>
					<div class="content__img">
						<a href="#"><img src="@img/img.jpg" alt="" /></a>
					</div>
					<div class="content__descr">
						<p>
							Далеко-далеко за словесными горами в стране гласных, и согласных
							живут рыбные тексты. Семь, заглавных! Текста там правилами
							предупредила подзаголовок над даль знаках страна единственное
							города до маленький предложения своего она власти, что от всех о
							одна повстречался моей снова они рукописи? Взобравшись он рыбного
							своих путь, пустился раз города запятых образ но вопроса журчит
							толку знаках себя взгляд предложения встретил от всех предупредила
							проектах продолжил эта свой. Текстов парадигматическая заманивший
							запятой обеспечивает рыбного жизни своих рукописи она журчит
							собрал рекламных взгляд, алфавит осталось которой!
						</p>
						<a href="#" class="btn btn-blue btn-width">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="content__item">
				<div class="content__text">
					<div class="content__link">
						<a href="#"
							>Далеко-далеко за словесными, горами в стране гласных и согласных
						</a>
					</div>
					<div class="data">
						<p class="data__descr">15.01.2024</p>
					</div>
					<div class="content__img">
						<a href="#"><img src="@img/img.jpg" alt="" /></a>
					</div>
					<div class="content__descr">
						<p>
							Далеко-далеко за словесными горами в стране гласных, и согласных
							живут рыбные тексты. Семь, заглавных! Текста там правилами
							предупредила подзаголовок над даль знаках страна единственное
							города до маленький предложения своего она власти, что от всех о
							одна повстречался моей снова они рукописи? Взобравшись он рыбного
							своих путь, пустился раз города запятых образ но вопроса журчит
							толку знаках себя взгляд предложения встретил от всех предупредила
							проектах продолжил эта свой. Текстов парадигматическая заманивший
							запятой обеспечивает рыбного жизни своих рукописи она журчит
							собрал рекламных взгляд, алфавит осталось которой!
						</p>
						<a href="#" class="btn btn-blue btn-width">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div class="sidebar">
			<h3 class="sidebar__witget-title">Последние новости</h3>
			<div class="sidebar__witget">
				<ul class="list-reset sidebar__witget-list">
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
				</ul>
			</div>
			<h3 class="sidebar__witget-title">Категории</h3>
			<div class="sidebar__witget">
				<ul class="list-reset sidebar__witget-list">
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
					<li class="sidebar__witget-item">
						<a href="#" class="sidebar__witget-link">Новости it</a>
					</li>
				</ul>
			</div>
			<div class="sidebar__banner">
				<img src="@img/banner/banner-right.jpg" alt="" />
			</div>
		</div>
	</div>
</div>
