.content {
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 20px 0;
		row-gap: 30px;
	}
	&__item {
		width: 100%;
		max-width: 900px;
		background-color: #f9f9f9;
		box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
		margin-bottom: 20px;
		padding: 20px;
	}
	&__link {
		a {
			font-size: clamp(16px, 10px + 0.95vw, 22px);
			font-weight: 700;
			font-family: OpenSans, sans-serif;
			margin-bottom: 20px;
			transition: color 0.2s ease-in-out;
			&:hover {
				color: var(--red);
			}
		}
	}
	&__img {
		margin: 10px 0;
		img {
			height: 519px;
		}
	}
	&__descr {
		p {
			font-size: clamp(13px, 10px + 0.47vw, 16px);
			line-height: 1.9;
			margin-bottom: 20px;
		}
	}
}
